project/project/
target/
cache/
.bsp/
.bloop/
.metals/
metals.sbt
#.vscode/
make/
null/
*.tests
*.soln
*.save
*.jar
*.class
*.doc
*.docx
*.pdf
*.keep

# ignore detritus left by vim
*.swn
*.swo
*.swp
*~
